<div class="container">
    <div class="row" id="header-container">
        <div class="col-md-12" id="header">
            <div class="jumbotron">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <main-navigation></main-navigation>
        </div>
        <div class="col-md-6 col-sm-4">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-3 col-sm-4">
            
            <div class="panel panel-default">
                <div class="panel-heading">Teamspeak</div>
                <div class="panel-body">
                    ...Content...
                </div>
            </div>
            
        </div>
    </div>
    <div class="row" id="footer-container">
        <div class="col-md-12" id="footer">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        &copy; by [insert-your-name-here]
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>