<div>
    <div *ngFor="#item of items" class="panel panel-default">
        <div class="panel-heading" style="font-weight:bolder;">{{item.insertedAt | date:'mediumDate'}} | {{item.title}}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        {{item.author}}
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        {{item.message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>