<div>    
    <div class="panel panel-default">
        <!--<div class="panel-heading" style="font-weight:bolder;">{{item.insertedAt | date:'mediumDate'}} | {{item.title}}</div>-->
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="threadLabel">Anzeigename:</label>
                        <input type="text" class="form-control" id="threadLabel" [(ngModel)]="newEntry.label">
                    </div>
                    <div class="form-group">
                        <input type="button" class="form-control" id="guestBookSubmit" value="Eintragen" (click)="createThread()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>